.board-container {
    transition: .2s ease-in-out;
    overflow: hidden;
    margin-top: 40px;
    background-color: #F6F6F6;
    border-radius: 5px;
    justify-content: center;
    padding: 10px;
    .header {
        padding-bottom: 50px;
    }
    .board {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        justify-content: space-evenly;
        gap: 10px;
        max-height: 754px;
        aspect-ratio: 1/1;
    
        .cell {
            aspect-ratio: 1/1;
            padding: 20px;
            background-color: lightgray;
            height: 100%;
            border-radius: 100%;
            position: relative;
            &::after{
                top: 0;
                left: 0;

                position: absolute;
                content: '';
                border-radius: 100%;
                width: 100%;
                height: 100%;
                aspect-ratio: 1/1;
                display: block;
                background-color: transparent;

            }


            &.player-1{
                &::after {
                    background-color: #FFC107;
                }
            }

            &.player-2{
                &::after {
                    background-color: #DC3545;
                }
            }
            &.new {
                &::after{
                    // transition: .2s;
                    animation: .5s drop ease-in-out;
                    // background-color: purple!important;
                    
                }
            }


        }
    }
    
}


@keyframes drop {
    from {top: -500%;}
    to {top: 0;}
  }