@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import '../../node_modules/bootstrap/scss/variables';



.qr-container{
    display: flex;
    flex-direction: column;
    align-items: center;


    @include media-breakpoint-up(md) { 
        align-items: start;
    }

}